/* GLOBAL */
:root {
  --primary-font: 'JetBrains Mono', monospace;
  --secondary-font: 'VT323', monospace;
  --text-color: #000;
  --green-color: #00FF12;
  --fade-in-effect: fadein 800ms;
  /* letter-spacing: -0.01em; */
  /* cursor: ns-resize; */
  /* --accent-color: #E2EECE; */
  /* --text-color-secondary: #ECECEC; */
  /* --background-color: #f5e9d2; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

::selection {
  /* color: var(--text-color-secondary);
  background: var(--text-color); */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  max-width: 98vw;
  margin: 0 auto;
  /* font-size: 110%; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  background-color: #EEE;
}

header {
  display: flex;
  background-color: var(--lime-color);
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--text-color);
  justify-content: center;
  background-color: white;
}

a {
  font-family: var(--secondary-font);
  margin: 0;
  flex-grow: 1;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  /* width: 96vw;*/
}

.tabs label {
  order: 1;
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 0.5em 0.25em;
  cursor: pointer;
  transition: background ease 0.3s;
}

label:hover {
  color: var(--green-color);
}

.tabs .tab {
  order: 9;
  /* flex-grow: 1; */
  width: 100vw;
  height: 100%;
  display: none;
  /* padding: 1rem;
  background: #fff;
  padding: 20px;
  box-shadow: -10px 10px 0px 0px black; */
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  background-color: var(--green-color);
  border-radius: 1em;
  color: white;
  padding: 2em;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
  background-color: white;
}

@media (max-width: 465px) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}