:root {
  --primary-font: "Capture", Helvetica, sans-serif, "Helvetica Roman", sans-serif;
  --secondary-font: "Newsreader", "Times New Roman", "Times", serif;
  --text-color: #000;
  --white-color: #FFF;
  --lime-color: #61FF00;
  --secondary-color: #2400FF;
  --fade-in-effect: fadein 800ms;
  font-size: calc(1em + 0.5vw);
  font-family: var(--primary-font);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: var(--fade-in-effect);
  -moz-animation: var(--fade-in-effect);
  -ms-animation: var(--fade-in-effect);
  -o-animation: var(--fade-in-effect);
  animation: var(--fade-in-effect);
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}

::selection {
  /* color: var(--text-color-secondary);
  background: var(--text-color); */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html, body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  touch-action: manipulation;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  /* font-weight: 300; */
  /* line-height: 1.5; */
  max-width: 98vw;
  margin: 0 auto;
  /* font-size: 110%; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
}

header {
  display: flex;
  background-color: var(--white-color);
  align-items: center;
  width: 100%;
  justify-content: center;
}

.marquee {
  animation: marquee 35s infinite linear;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5em 0em;
  width: 100vw;
  text-transform: uppercase;
  animation-delay: -3s;
}

.marquee:hover {
  animation-play-state: paused;
  font-style: oblique;
  transition: 0.15s;
}

.marquee>div {
  margin: 0em 1em;
}

div.circle {
  height: 1em;
  background: var(--text-color);
  border-radius: 1em;
  animation: blink 1s cubic-bezier(0, 0, 0.63, 0.56) infinite;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  align-items: center;
  /* width: 96vw;*/
}

.tabs label {
  order: 1;
  display: flex;
  height: max-content;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 1px dashed var(--text-color);
  padding: 0.25em 1em;
  margin: 0.5em 1em 0.5em 0;
  cursor: pointer;
  transition: background ease 0.3s;
}

label:hover {
  /* font-style: oblique; */
  border-radius: 1em;
  border: 1px solid var(--text-color);
  padding: 0.25em 1em;
  font-style: oblique;
}

.tabs .tab {
  order: 9;
  /* flex-grow: 1; */
  width: 100vw;
  height: 100%;
  display: none;
  /* padding: 1rem;
  background: #fff;
  padding: 20px;
  box-shadow: -10px 10px 0px 0px black; */
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked+label {
  border-radius: 1em;
  border: 1px solid var(--text-color);
  padding: 0.25em 1em;
}

.tabs input[type="radio"]:checked+label+.tab {
  display: block;
}

@media (max-width: 465px) {

  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-left: 50px;
  }
}